.section_cadastro {
    color: rgb(0, 0, 0);
    min-height: 399px;
    padding: 35px 0 0;
}

.form_cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.form_cadastro h1 {
    text-transform: uppercase;
    font-size: medium;
    font-weight: 600;
    margin-bottom: 5px;
}

.form_cadastro hr {
    max-width: 100px;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #ad0729;
    margin-top: 2px;
}

.campos_cadastro {
    display: flex;
    align-items: center;

    padding-top: 50px;
    gap: 25px;
}


.campo_cad_nome input,
.campo_cad_genero select {
    outline: none;
    padding: 0 5px;
    width: 300px;
    height: 30px;
    margin-top: 7px;
}

.campo_cad_nome input,
.campo_cad_genero select {
    display: flex;
    margin: 30px;

    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
}

.campo_cad_genero {
    margin-bottom: 30PX;
    color: gray;
}

.campo_preen {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    place-items: center;

    padding: 0 30px 30px 30px;

}

@media screen and (max-width: 880px) {
    .campos_cadastro {
        flex-direction: column;
        align-items: center;
    }

    .banner_cadastro {
        display: none;
    }
}

@media screen and (max-width: 430px) {
    .form_cadastro h1 {
        font-size: 20px;
    }

    .campo_preen,
    .campo_cad_nome {
        padding: 0px 0px 0px 0px;
    }
}